#jumbotron{
    background-image: url('PizzaWorldRandomImage.jpg')
 
    
}
#jumbotron{
    h1{
        color: white;
      
        text-shadow: 110px 110px 90px;
    }
}
#jumbotron{
    a{
        color: white;
        text-shadow: 150px 150px 120px black;
    }
}


p{
    height: 300px;
    margin: 20px;
    padding: 10px;
    text-shadow: 90px 90px 90px; 
    color: white;
}

header{
    background: lightgray;
    h1{
        color:black;
    }
    a{
        color:black;
    }
#jumbotron h1 {
    color: white
}

   
  
}