body{
background: black;

}
h1{
    color: crimson;
}
p{
    color: crimson;
}
h2{
    color:deepskyblue
}
li{
    color: crimson;
}
#wrapper{
    width: 80%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto; 
}
